
<div class="gallery">
    <img src="/images/certifications/nvidia-ai.jpg" class="grid-w50 md:grid-w33 xl:grid-w25" />
    <img src="/images/certifications/linkedin-pmi-ai.jpg" class="grid-w50 md:grid-w33 xl:grid-w25" />
    <img src="/images/certifications/nvidia-ai.jpg" class="grid-w50 md:grid-w33 xl:grid-w25" />
    <img src="/images/certifications/nvidia-ai.jpg" class="grid-w50 md:grid-w33 xl:grid-w25" />
    <img src="/images/certifications/amazon-generative-ai.jpg" class="grid-w33" />
    <img src="/images/certifications/googelcloud-ai-pm.jpg" class="grid-w33" />
    <img src="/images/certifications/linkedin-ai.jpg" class="grid-w33" />
    <img src="/images/certifications/linkedin-ethics-ai.jpg" class="grid-w33" />
    <img src="/images/certifications/linkedin-pmi-ai.jpg" class="grid-w33" />
    <img src="/images/certifications/linkedin-pmi-aisearch.jpg" class="grid-w33" />
    <img src="/images/certifications/m-ai-prompt.jpg" class="grid-w33" />
    <img src="/images/certifications/itc-ai.jpg" class="grid-w33" />
    <img src="/images/certifications/huawei-ai.jpg" class="grid-w33" />
    <img src="/images/certifications/datawhale-prompt-engineer.jpg" class="grid-w33" />
    <img src="/images/certifications/datawhale-iflytek-fine-tuning.jpg" class="grid-w33" />
    <img src="/images/certifications/datawhale-big-model.jpg" class="grid-w33" />
    <img src="/images/certifications/datawhale-ai-coding.jpg" class="grid-w33" />
    <img src="/images/certifications/datawhale-agent.jpg" class="grid-w33" />
  </div>