<div class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
    <div class="timeline-container mt-8 mb-8">
    <h2 class="text-2xl font-bold mb-10">AI超级个体成长叙事</h2>

    {{ $timelineContent := `
{{< timeline >}}

        {{< timelineItem icon="link" header="MetaX的AI超级个体门户网站（全开源）发布" badge="2025-03" >}}
        <div>在这个每天有数百个传统网站永久消失，或者数以万计的自媒体频道被迫关闭的数字时代，我构建了一座属于未来的「AI知识诺亚方舟」，这可能是你见过最特别的AI增强型知识库网站。</div>
        
        
        {{< article link="/posts/decentralized-knowledge-ark/" >}}
        
        {{< /timelineItem >}}
        
        {{< timelineItem icon="linkedin" header="个人领英账号创建" badge="2025-02" >}}
        <a href="https://www.linkedin.com/in/aizx" target="_blank">https://linkedin.com/in/aizx</a>领英账号更新了2024年-2025年，我在AI和Web3领域持续学习并获得的职业技能和课程证书。包括联合国教科文组织、世界劳工组织、微软、谷歌云、英伟达、华为云、亚马逊、领英、Datawhle等多个机构和组织颁发的18项AI职业技能证书。涉及领域包括生成式人工智能、AI产品管理、AI伦理、AI搜索、Prompt工程师、Fine-tuning工程师、AI大模型开发工程师、AI Coding工程师、Agent工程师等。目前我正在学习哈佛大学、斯坦福大学、卡耐基梅隆大学、IBM、英伟达等机构开设的人工智能和区块链课程。
        <div class="gallery">
            <img src="/images/certifications/nvidia-ai.jpg" class="grid-w33" />
            <img src="/images/certifications/microsoft.jpg" class="grid-w33" />
            <img src="/images/certifications/amazon-business-skill.jpg" class="grid-w33" />
            <img src="/images/certifications/amazon-generative-ai.jpg" class="grid-w33" />
            <img src="/images/certifications/googelcloud-ai-pm.jpg" class="grid-w33" />
            <img src="/images/certifications/linkedin-ai.jpg" class="grid-w33" />
            <img src="/images/certifications/linkedin-ethics-ai.jpg" class="grid-w33" />
            <img src="/images/certifications/linkedin-pmi-ai.jpg" class="grid-w33" />
            <img src="/images/certifications/linkedin-pmi-aisearch.jpg" class="grid-w33" />
            <img src="/images/certifications/m-ai-prompt.jpg" class="grid-w33" />
            <img src="/images/certifications/itc-ai.jpg" class="grid-w33" />

        </div>
        更多职业技能或课程证书，可通过以下链接查看：
        <a href="https://www.linkedin.com/in/aizx/details/certifications/" target="_blank">https://www.linkedin.com/in/aizx/details/certifications/</a>
        
        {{< /timelineItem >}}
        
        {{< timelineItem icon="rednote" header="开通小红书MetaX频道" badge="2024-11" >}}
        <a href="https://www.xiaohongshu.com/user/profile/59f87643db2e602e550c9714" target="_blank">MetaX（小红书号：metaxai）</a>我在2024年11月正式开通了小红书MetaX频道，专注AI效率工具、AI自动化和AI超级个体赛道，坚持每日分享AI主题的短视频内容，账号开通后，从零粉起步，15天内成功起号，迎来第1000位粉丝，并于2025年1月底创造单周增长10万播放量，近2000粉丝的最高记录。账号观看、互动、涨粉、发文活跃度、主页访问等五+播放量的短视频笔记，已收到包括Kimi、可灵AI、夸克在内的多家等AI机构的笔记合作邀约。
        {{< /timelineItem >}}
        
        {{< timelineItem icon="github" header="发布『和AI做个朋友』网站" badge="2024-08" >}}
        {{< github repo="bigiod/8xworld" >}}
        {{< /timelineItem >}}
        
        {{< timelineItem icon="code" header="发布『和AI做个朋友』微信小程序" badge="2024-07" >}}
        不写一行代码，不设计一张UI图，一个人一个月时间，独立完成『和AI做个朋友』微信小程序的开发测试，部署上线运营。这是一款可模块化搭建的微信小程序，融合了知识付费、会员订阅、知识库、广告管理、线上商城、粉丝社区、任务活动管理等模块。
        <div class="gallery">
          <img src="/images/feature/1901924122372345856.jpg" class="grid-w50 md:grid-w33 xl:grid-w25" />
          <img src="/images/feature/1901924313309646848.jpg" class="grid-w50 md:grid-w33 xl:grid-w25" />
          <img src="/images/feature/1901924424131547136.jpg" class="grid-w50 md:grid-w33 xl:grid-w25" />
          <img src="/images/feature/1901924533464469504.jpg" class="grid-w50 md:grid-w33 xl:grid-w25" />
        </div>
        {{< /timelineItem >}}
        
        {{< timelineItem icon="link" header="『斗极元宇宙导航』网站发布上线" badge="2023-07" >}}
        斗极元宇宙生态是一个开放的Web3.0世界，这是一个自下而上不断发展的宇宙生态。斗极元宇宙导航，作为一个帮助用户找寻元宇宙项目的门户导航，
        {{< /timelineItem >}}
        
        {{< timelineItem icon="link" header="Famland.World GameFi" badge="2022-09" >}}
        Famland元宇宙，是一个集合包括NFT、Game、Defi多种要素组成的NFT价值养成型Play to Earn游戏生态。游戏本着以人为本的设计初心，不依赖资金投入、重视玩家在游戏中时间和智慧投入的价值，依托NFT价值养成和价值共享的算法规则，最大限度保障每名玩家在游戏中的基本权利和公平性，把利用资本损害游戏生态健康发展的不利因素降到最低。Famland元宇宙是一个完全社区化的项目，项目创始团队无预挖、无手续费收益、无运营提成， 项目发行的所有资产和收益，100%全部回馈社区玩家。
        
        {{< /timelineItem >}}
        
        {{< /timeline >}}

<div class="button-center">
{{< button href="timeline" target="_blank" >}}
查看更多
{{< /button >}}
</div>

` }}
{{ $timelineContent | .Page.RenderString }}
</div>
</div>