<div class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
    <div class="timeline-container mt-8 mb-8">
    <h2 class="text-2xl font-bold mb-10">AI超级个体成长叙事</h2>

    {{ $timelineContent := `
{{< timeline >}}

        {{< timelineItem icon="link" header="MetaX的AI超级个体门户网站（全开源）发布" badge="2025-03" >}}
        <div>在这个每天有数百个传统网站永久消失，或者数以万计的自媒体频道被迫关闭的数字时代，我构建了一座属于未来的「AI知识诺亚方舟」，这可能是你见过最特别的AI增强型知识库网站。</div>
        
        
        {{< article link="/posts/decentralized-knowledge-ark/" >}}
        
        {{< /timelineItem >}}
        
        {{< timelineItem icon="linkedin" header="个人领英账号创建" badge="2025-02" >}}
        <a href="https://www.linkedin.com/in/aizx" target="_blank">https://linkedin.com/in/aizx</a>领英账号更新了2024年-2025年，我在AI和Web3领域持续学习并获得的职业技能和课程证书。包括联合国教科文组织、世界劳工组织、微软、谷歌云、英伟达、华为云、亚马逊、领英、Datawhle等多个机构和组织颁发的18项AI职业技能证书。涉及领域包括生成式人工智能、AI产品管理、AI伦理、AI搜索、Prompt工程师、Fine-tuning工程师、AI大模型开发工程师、AI Coding工程师、Agent工程师等。目前我正在学习哈佛大学、斯坦福大学、卡耐基梅隆大学、IBM、英伟达等机构开设的人工智能和区块链课程。
        <div class="gallery">
            <img src="/images/certifications/nvidia-ai.jpg" class="grid-w33" />
            <img src="/images/certifications/microsoft.jpg" class="grid-w33" />
            <img src="/images/certifications/amazon-business-skill.jpg" class="grid-w33" />
            <img src="/images/certifications/amazon-generative-ai.jpg" class="grid-w33" />
            <img src="/images/certifications/googelcloud-ai-pm.jpg" class="grid-w33" />
            <img src="/images/certifications/linkedin-ai.jpg" class="grid-w33" />
            <img src="/images/certifications/linkedin-ethics-ai.jpg" class="grid-w33" />
            <img src="/images/certifications/linkedin-pmi-ai.jpg" class="grid-w33" />
            <img src="/images/certifications/linkedin-pmi-aisearch.jpg" class="grid-w33" />
            <img src="/images/certifications/m-ai-prompt.jpg" class="grid-w33" />
            <img src="/images/certifications/itc-ai.jpg" class="grid-w33" />

        </div>
        更多职业技能或课程证书，可通过以下链接查看：
        <a href="https://www.linkedin.com/in/aizx/details/certifications/" target="_blank">https://www.linkedin.com/in/aizx/details/certifications/</a>
        
        {{< /timelineItem >}}
        
        {{< timelineItem icon="rednote" header="开通小红书MetaX频道" badge="2024-11" >}}
        <a href="https://www.xiaohongshu.com/user/profile/59f87643db2e602e550c9714" target="_blank">MetaX（小红书号：metaxai）</a>我在2024年11月正式开通了小红书MetaX频道，专注AI效率工具、AI自动化和AI超级个体赛道，坚持每日分享AI主题的短视频内容，账号开通后，从零粉起步，15天内成功起号，迎来第1000位粉丝，并于2025年1月底创造单周增长10万播放量，近2000粉丝的最高记录。账号观看、互动、涨粉、发文活跃度、主页访问等五+播放量的短视频笔记，已收到包括Kimi、可灵AI、夸克在内的多家等AI机构的笔记合作邀约。
        {{< /timelineItem >}}
        
        {{< timelineItem icon="github" header="发布『和AI做个朋友』网站" badge="2024-08" >}}
        {{< github repo="bigiod/8xworld" >}}
        {{< /timelineItem >}}
        
        {{< timelineItem icon="code" header="发布『和AI做个朋友』微信小程序" badge="2024-07" >}}
        <a href="wxminiapp" target="_blank">『和AI做个朋友』微信小程序</a>
        我用了差不多一个月时间，不断查阅文档，不断和AI对话寻找解决方案，最终独立完成『和AI做个朋友』微信小程序的开发测试，部署上线运营。这是一款可模块化搭建的微信小程序，融合了知识付费、会员订阅、知识库、广告管理、线上商城、粉丝社区、任务活动管理等模块。现在，我已经把搭建这套微信小程序的方法整理成了专题课程。
        <div class="gallery">
          <img src="/images/feature/9a6751f50c89d7463eebc9a251d45def.jpg" class="grid-w50 md:grid-w33 xl:grid-w25" />
          <img src="/images/feature/53f108db8efc7682d8a5def54f1650f1.jpg" class="grid-w50 md:grid-w33 xl:grid-w25" />
          <img src="/images/feature/0996bf8104283aaa43673fa651d19409.jpg" class="grid-w50 md:grid-w33 xl:grid-w25" />
          <img src="/images/feature/5879833b7a91f0d38d6911e68f61b083.jpg" class="grid-w50 md:grid-w33 xl:grid-w25" />
        </div>
        {{< /timelineItem >}}
        
        {{< timelineItem icon="link" header="『斗极元宇宙导航』网站项目" badge="2023-07" >}}
        <a href="https://www.metabd.cc/" target="_blank">『斗极元宇宙导航』平台</a>
        『斗极元宇宙导航』是全球首个Web3分布式生态导航平台，采用去中心化维基架构，通过智能合约将用户的内容贡献、数据验证及治理行为转化为数字资产。其独创的"共建者权益池"聚合项目流量分成、增值服务与生态收益，依托跨链智能分配系统实现透明收益分配。平台构建AI验证+DAO治理的双重保障体系，让用户数字足迹成为价值创造的节点，重塑"共建即受益"的生态协作模式。

        {{< /timelineItem >}}
        
        {{< timelineItem icon="link" header="Famland.World 私域土地元宇宙项目 " badge="2022-09" >}}
        <a href="https://famland.world/" target="_blank">『Famland World』官方网站</a>
        『Famland World』项目构建了NFT+链游+DeFi三位一体的GameFi生态，以玩家为核心打造NFT价值共生体系。通过去中心化经济模型将玩家时间与策略转化为可持续收益，建立无资本门槛的公平机制，运用算法平衡生态价值，抑制资本负面冲击。项目践行"零团队保留"原则，通过智能合约将全部资产（含代币/NFT/收益）100%分配社区，采用DAO架构实现生态方向社区投票治理，构建"开发者搭台、社区自治"的去中心化生态。
        
        {{< /timelineItem >}}
        
        {{< /timeline >}}

<div class="button-center">
{{< button href="timeline" target="_blank" >}}
查看更多
{{< /button >}}
</div>

` }}
{{ $timelineContent | .Page.RenderString }}
</div>
</div>